.border{
    border:2px solid #ff0000;
    margin:3px;
}
.flex{
    display: flex;
}
.justify-content{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color:white;
}
.invert{
    filter: invert(1);  /*to chnage logos color from clack to white*/
}
.bg-grey{
    background-color:#121212;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin:5px;
}
.p-1{
    padding: 10px;
}



::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #121212;
}

::-webkit-scrollbar-thumb {
    background: #2a2a2a;
}

::-webkit-scrollbar-thumb:hover {
    background: #3f3f3f;
}